<div class="container">
  <div class="alert alert-danger" role="alert">
    Текст ошибки
  </div>
  <h2>Авторизация</h2>
  <form class="signInForm">
      <input type="email" id="inputEmail" class="form-control incorrect-input" placeholder="Адрес электронной почты" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
      <div class="checkbox rememberCheckbox">
          <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
          </label>
      </div>
      <button class="btn btn-lg btn-success btn-block signInButton" type="submit">Войти</button>
    <button class="btn btn-lg btn-primary btn-block" (click)="GetUser()">Проверка</button>
  </form>
  <p class = "bottomText" align = "center">Еще не зарегистрированы? <a routerLink="/sign-up">Регистрация</a></p>
</div>
