@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

form > .rememberCheckbox {
    display: inline;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

form > .signInButton {
    display: inline;
    width: 182px;
    margin-left: 18px;
}