<div class="container column">
  <h2>Авторизация</h2>
    <h2>Регистрация</h2>
    <form class="signInForm" style="margin-bottom: 40px;">    
      <input class="form-control nameInput" type="text" placeholder="Имя" />
      <input class="form-control nameInput" type="text" placeholder="Фамилия" />
      <input type="email" id="inputEmail" class="form-control" placeholder="Адрес электронной почты" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
      <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль" required>                                
      <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
    </form>
</div>
